
/* 
 * author : Nadeem Elahi
 * paid professional email : nad@3deem.com
 * free social media email : nadeem.elahi@gmail.com
 * FOSS(free and open source) license gpl v 3
 *
 */


html , body , #fullscreenPage { height: 100% ; } 
body { 
	margin : 0 ;  
	color: #999; 
}

#fullscreenPage { 
	background-color: #000;
}

#fullscreenPage { 
	position: relative;
	top: 0; left: 0;
}

#fsP_fsOverlay01,
#fsP_fsOverlay02 {
	width: 100% ; height: 100%;
	position: absolute;
	top: 0; left: 0;
}

#fsP_fsOverlay02 {
	overflow-y: scroll;
	overflow-x: hidden;
}

#fsP_fsOverlay01 {
	z-index: 10;
}

#fsP_fsOverlay02 {
	z-index: 20;
}

#fsCanvas { 
	display: block;
	margin: 0;
}

h1 , h2 { 
	text-align: center; 
}

#fsP_rightConfig {
	color: #999 ;
	text-align: right ;
	padding-right: 15px ;
	padding-bottom: 250px ;
}

#pin2, #pin3, #pin4, #appliedLoad {
	margin: 20px auto;
}
div.modConfig ,
div.areaConfig ,
div.locConfig {
	margin: 10px auto;
}
#lockXYZ {
	margin-top: 5px;
}

#appliedLoad ,
#deformationResult {
	color: #E516E5;
}

#pin2 ,
#stressRod1Result {
	color: #4D4DE5;
}
#pin3 ,
#stressRod2Result {
	color: #4DE500;
}
#pin4 ,
#stressRod3Result {
	color: #4DE5E5;
}

#resetSubmit {
	margin-top: 25px;
}

#resultW {
  margin: 10px auto;
}

/* chrome size=3 doesn't work */
input[type=number] { 
	field-sizing: content;
}


#nclog { 
	text-align: right;
	padding-right: 15px; 
	/* same as #fsP_rightConfig */
	font-size: 12px;
	line-height: 12px;
}
